<launch>

  <arg name="robot" default="orcvio_robot"/>
  <arg name="fixed_frame_id" default="world"/>

  <arg name="visualize_rviz_arg" default="true" />

  <group ns="$(arg robot)">
    <!-- System Manager Nodelet  -->
    <node pkg="nodelet" type="nodelet" name="system"
      args='standalone orcvio/SystemNodelet'
      output="screen">

      <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
      <param name="child_frame_id" value="odom"/>

      <!-- <remap from="~imu" to="/mavros/imu/data_raw"/> -->
      <remap from="~imu" to="/mavros/imu/data"/>
      <remap from="~cam0_image" to="/flea3/image_raw"/>

      <param name="config_file" value="$(find orcvio)/../../../config/medfield.yaml"/>
      <param name="result_file" value="$(find orcvio)/../../../cache/temp_rmse.txt"/>

      <param name="output_dir_traj"  type="string" value="/home/erl/Workspace/orcvio-lite/cache" />

      <param name="load_groundtruth_flag" type="int" value="0"/>
      <!-- <param name="use_left_perturbation_flag" type="int" value="1" /> -->

    </node>
  </group>

    <!-- play the dataset -->
    <!-- rosbag for VIO and object detection  -->
    <node pkg="rosbag" type="play" name="rosbag2" args="/media/erl/disk1/orcvio/mit_rosbags/mit_medfield_modified.bag" required="true"/>

    <!-- open rviz  -->
    <group if="$(arg visualize_rviz_arg)" >
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find orcvio)/../../../ros_wrapper/src/orcvio/launch/rviz/orcvio_medfield.rviz" />
    </group>

</launch>