<launch>

  <arg name="robot" default="orcvio_robot"/>
  <arg name="fixed_frame_id" default="world"/>

  <arg name="visualize_rviz_arg" default="true" />

  <group ns="$(arg robot)">
    <!-- System Manager Nodelet  -->
    <node pkg="nodelet" type="nodelet" name="system"
      args='standalone orcvio/SystemNodelet'
      output="screen">

      <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
      <param name="child_frame_id" value="odom"/>

      <!-- <remap from="~imu" to="/mavros/imu/data_raw"/> -->
      <remap from="~imu" to="/mavros/imu/data"/>
      <remap from="~cam0_image" to="/flea3/image_raw"/>

      <param name="config_file" value="$(find orcvio)/../../../config/medfield.yaml"/>
      <param name="result_file" value="$(find orcvio)/../../../cache/temp_rmse.txt"/>

      <param name="output_dir_traj"  type="string" value="/home/erl/Workspace/orcvio-lite/cache" />

      <param name="load_groundtruth_flag" type="int" value="0"/>
      <!-- <param name="use_left_perturbation_flag" type="int" value="1" /> -->

    </node>

    <!-- Object Mapper Nodelet  -->
    <!-- <node pkg="nodelet" type="nodelet" name="ObjectMapper"
      args="standalone orcvio/ObjectMapperNodelet" > -->
    
    <!-- to see output in terminal  -->
    <node pkg="nodelet" type="nodelet" name="ObjectMapper"
      args="standalone orcvio/ObjectMapperNodelet"
      output="screen">

    <!-- to use gdb  -->
    <!-- <node pkg="nodelet" type="nodelet" name="ObjectMapper"
      args="standalone orcvio/ObjectMapperNodelet"
      output="screen"
      launch-prefix="xterm -e gdb dash-args"
      > -->

          <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>

          <!-- camera extrinsics -->
          <rosparam param="T_cam_imu">
              [
              0, -1, 0, 0.0, 
              0.0, 0, -1, 0, 
              1, 0, 0, 0, 
              0., 0., 0., 1.
              ]
          </rosparam>

          <!-- bag topics -->
          <param name="topic_bbox"  type="string" value="/sort_ros/tracked_bounding_boxes" />
          <param name="topic_image"  type="string" value="/flea3/image_raw" />
          <param name="topic_caminfo"  type="string" value="/flea3/camera_info" />          
          <param name="topic_pose"  type="string" value="/orcvio_robot/system/poseout" />

          <param name="max_object_feature_track"             type="int"    value="20" />
          <param name="min_object_feature_track"               type="int"    value="3" />

          <!-- object feature -->
          <rosparam command="load" file="$(find orcvio)/../../../config/object_feat.yaml"/>
          <param name="load_gt_object_info_flag"  type="bool" value="false" />

          <param name="to_color_image_flag"  type="bool" value="true" />
          <!-- <param name="to_color_image_flag"  type="bool" value="false" /> -->
          <param name="use_unity_dataset_flag"  type="bool" value="false" />

          <!-- this has to be consistent with VIO config  -->
          <param name="use_left_perturbation_flag"  type="bool" value="true" />
          
          <param name="use_new_bbox_residual_flag"  type="bool" value="false" />

          <param name="result_dir_path_2d_bbox" value="$(find orcvio)/../../../cache/object_2d_bbox_info.txt"/>

    </node>
  </group>

    <!-- play the dataset -->
    <!-- rosbag for VIO and object detection  -->
    <node pkg="rosbag" type="play" name="rosbag" args="/media/erl/disk1/orcvio/mit_rosbags/mit_medfield_modified_with_keypoints.bag" required="true"/>

    <!-- open rviz  -->
    <group if="$(arg visualize_rviz_arg)" >
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find orcvio)/../../../ros_wrapper/src/orcvio/launch/rviz/orcvio_medfield_object.rviz" />
    </group>

</launch>